# Load the initial dataset

In [1]:
import pandas as pd

In [2]:
releases_data = pd.read_csv('releases.csv')
releases_data.set_index('id', inplace=True)

In [4]:
releases_data.head()

,artist,available,contributors,cover,cover_big,cover_medium,cover_small,cover_xl,duration,explicit_content_cover,...,nb_tracks,rating,record_type,release_date,share,title,tracklist,tracks,type,upc
id,,,,,,,,,,,,,,,,,,,,,
13994298,{u'picture': u'https://api.deezer.com/artist/1...,True,[{u'picture': u'https://api.deezer.com/artist/...,https://api.deezer.com/album/13994298/image,https://cdns-images.dzcdn.net/images/cover/233...,https://cdns-images.dzcdn.net/images/cover/233...,https://cdns-images.dzcdn.net/images/cover/233...,https://cdns-images.dzcdn.net/images/cover/233...,2607,0,...,17,0,album,2016-09-09,https://www.deezer.com/album/13994298?utm_sour...,Live At The Hollywood Bowl,https://api.deezer.com/album/13994298/tracks,{u'data': [{u'title_short': u'Twist And Shout'...,album,602557054989
59393282,{u'picture': u'https://api.deezer.com/artist/1...,True,[{u'picture': u'https://api.deezer.com/artist/...,https://api.deezer.com/album/59393282/image,https://e-cdns-images.dzcdn.net/images/cover/e...,https://e-cdns-images.dzcdn.net/images/cover/e...,https://e-cdns-images.dzcdn.net/images/cover/e...,https://e-cdns-images.dzcdn.net/images/cover/e...,2099,0,...,11,0,album,2018-03-22,https://www.deezer.com/album/59393282?utm_sour...,Let It Be... Naked (Remastered),https://api.deezer.com/album/59393282/tracks,"{u'data': [{u'title_short': u'Get Back', u'tit...",album,602537738960
59393272,{u'picture': u'https://api.deezer.com/artist/1...,True,[{u'picture': u'https://api.deezer.com/artist/...,https://api.deezer.com/album/59393272/image,https://e-cdns-images.dzcdn.net/images/cover/b...,https://e-cdns-images.dzcdn.net/images/cover/b...,https://e-cdns-images.dzcdn.net/images/cover/b...,https://e-cdns-images.dzcdn.net/images/cover/b...,2731,0,...,15,0,album,2018-03-22,https://www.deezer.com/album/59393272?utm_sour...,Yellow Submarine Songtrack,https://api.deezer.com/album/59393272/tracks,{u'data': [{u'title_short': u'Yellow Submarine...,album,602537738953
13367057,{u'picture': u'https://api.deezer.com/artist/1...,True,[{u'picture': u'https://api.deezer.com/artist/...,https://api.deezer.com/album/13367057/image,https://e-cdns-images.dzcdn.net/images/cover/3...,https://e-cdns-images.dzcdn.net/images/cover/3...,https://e-cdns-images.dzcdn.net/images/cover/3...,https://e-cdns-images.dzcdn.net/images/cover/3...,5200,0,...,28,0,album,2016-06-17,https://www.deezer.com/album/13367057?utm_sour...,Love,https://api.deezer.com/album/13367057/tracks,"{u'data': [{u'title_short': u'Because', u'titl...",album,602557015997
12047956,{u'picture': u'https://api.deezer.com/artist/1...,True,[{u'picture': u'https://api.deezer.com/artist/...,https://api.deezer.com/album/12047956/image,https://e-cdns-images.dzcdn.net/images/cover/c...,https://e-cdns-images.dzcdn.net/images/cover/c...,https://e-cdns-images.dzcdn.net/images/cover/c...,https://e-cdns-images.dzcdn.net/images/cover/c...,4733,0,...,27,0,album,2015-12-24,https://www.deezer.com/album/12047956?utm_sour...,1 (Remastered),https://api.deezer.com/album/12047956/tracks,"{u'data': [{u'title_short': u'Love Me Do', u't...",album,602547673503

# Crop the dataset while experimenting

In [5]:
releases_data.shape

(337, 27)

In [7]:
releases_data[:1000].shape

(337, 27)

In [8]:
releases_data = releases_data[:1000]
releases_data.shape

(337, 27)

# Brainstorm a list of features

- **album id**
- **artist id**
- **release date**
- **album type**
- **number of tracks**
- **album length**
- **total albums released**
- **days in music industry (since first release)**
- **average artist days to release**
- **days since previous release**
- genres (aggregated from tracks)

Also, the target
- **days until the next release**

# Take columns that we want and already have

In [10]:
releases_data.columns

Index([u'artist', u'available', u'contributors', u'cover', u'cover_big',
       u'cover_medium', u'cover_small', u'cover_xl', u'duration',
       u'explicit_content_cover', u'explicit_content_lyrics',
       u'explicit_lyrics', u'fans', u'genre_id', u'genres', u'label', u'link',
       u'nb_tracks', u'rating', u'record_type', u'release_date', u'share',
       u'title', u'tracklist', u'tracks', u'type', u'upc'],
      dtype='object')

In [13]:
list_of_columns = [
    'artist',
    'duration',
    'genres',
    'nb_tracks',
    'record_type',
    'release_date',
]
releases_data[list_of_columns].head()

,artist,duration,genres,nb_tracks,record_type,release_date
id,,,,,,
13994298,{u'picture': u'https://api.deezer.com/artist/1...,2607,{u'data': [{u'picture': u'https://api.deezer.c...,17,album,2016-09-09
59393282,{u'picture': u'https://api.deezer.com/artist/1...,2099,{u'data': [{u'picture': u'https://api.deezer.c...,11,album,2018-03-22
59393272,{u'picture': u'https://api.deezer.com/artist/1...,2731,{u'data': [{u'picture': u'https://api.deezer.c...,15,album,2018-03-22
13367057,{u'picture': u'https://api.deezer.com/artist/1...,5200,{u'data': [{u'picture': u'https://api.deezer.c...,28,album,2016-06-17
12047956,{u'picture': u'https://api.deezer.com/artist/1...,4733,{u'data': [{u'picture': u'https://api.deezer.c...,27,album,2015-12-24

In [14]:
df = releases_data[list_of_columns]
df.shape

(337, 6)

# Check for missing values

In [15]:
df.isnull().sum()

artist          0
duration        0
genres          0
nb_tracks       0
record_type     0
release_date    0
dtype: int64

In [12]:
# check difference between album_date_created and album_date_released

The difference is TK (acceptable or not)

In [13]:
df.loc[:,'album_date_released'].fillna(albums_data['album_date_created'], inplace=True)

/usr/local/lib/python2.7/site-packages/pandas/core/generic.py:6130: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

## Fill missing album_type

Before trying to fill something let's see what album types there are

In [14]:
df['album_type'].unique()

array(['Album', 'Live Performance', 'Radio Program', 'Single Tracks', nan],
      dtype=object)

We can't get whether this album was a "Live Performance" or a "Radio Program" so there's no point in that figuring that out.  
They're also not really something new so I'll just remove them but it's always a good idea to test whether this helps the final model.
So other then that we have an "Album" and "Single Tracks".

Let's examine the releases that have missing album type values.

In [15]:
pd.set_option('display.max_colwidth', -1)
df[df['album_type'].isnull()].head(10)

,album_url,artist_url,album_date_released,album_type,album_tracks
album_id,,,,,
10036,http://freemusicarchive.org/music/2010061284945421/mystical_v/,http://freemusicarchive.org/music/2010061284945421/,9/13/2011 04:54:21 PM,NaN,5
10070,http://freemusicarchive.org/music/Harpoon_Forever/Life-Size_Cut-Out/,http://freemusicarchive.org/music/Harpoon_Forever/,9/18/2011 01:22:58 AM,NaN,4
10190,http://freemusicarchive.org/music/Elliott_Sharp/Ten_Thousand_Hours/,http://freemusicarchive.org/music/Elliott_Sharp/,10/03/2011 06:34:14 PM,NaN,1
10196,http://freemusicarchive.org/music/junior85/Directed_Numbers/,http://freemusicarchive.org/music/junior85/,10/04/2011,NaN,7
10341,http://freemusicarchive.org/music/Mr__Mrs_Smith/Very_Fragile/,http://freemusicarchive.org/music/Mr__Mrs_Smith/,11/01/2011 10:21:01 AM,NaN,10
10375,http://freemusicarchive.org/music/Lovely_Little_Girls/Live_Lumps_Festooned_with_Garbage/,http://freemusicarchive.org/music/Lovely_Little_Girls/,1/01/2003,NaN,8
10380,http://freemusicarchive.org/music/Wrist/Blind_AlleyOrphan_Drug_single_1135/,http://freemusicarchive.org/music/Wrist/,10/27/2011,NaN,2
10413,http://freemusicarchive.org/music/Black_Math/To_You_-_digital_single/,http://freemusicarchive.org/music/Black_Math/,11/12/2011 12:53:30 PM,NaN,1
10489,http://freemusicarchive.org/music/2010061284945421/Unicorn_dream/,http://freemusicarchive.org/music/2010061284945421/,11/28/2011 11:08:09 PM,NaN,8
10565,http://freemusicarchive.org/music/Sol_Rezza/The_existence_of_the_light/,http://freemusicarchive.org/music/Sol_Rezza/,12/09/2011 05:01:06 PM,NaN,4

In [16]:
pd.reset_option('display.max_colwidth')

1. The first one, mystical v by uiutna, looks like an EP.  
2. As is the second one, Life-Size Cut-Out by Harpoon Forever.  
3. The third one, Ten Thousand Hours by Elliott Sharp, looks like some sort of podcast from a musician.  
4. The fourth one, mystical v by uiutna, looks like an album.  
5. The fifth one is missing from the website.  
6. Live Lumps Festooned with Garbage by Lovely Little Girls — looks like an album
7. Blind Alley/Orphan Drug (single) by Wrist — looks like a single, as the title suggests too  
8. 'To You' - digital single — looks like a single, as the title suggests too  
9. Unicorn dream by uiutna — looks like an album
10. The existence of the light by Sol Rezza — looks like an album

From the examination above we can see that there are some unusual cases. Like #3 where a release is a podcast. Or #5 where the release is missing on the website.  
But other then that, releases look like singles and albums. But how do we fill them with correct values?

According to "The Recording Academy's rules for Grammy Awards":
> While an album may contain as many or as few tracks as required, in the United States, The Recording Academy's rules for Grammy Awards state that an album must comprise a minimum total playing time of 15 minutes with at least five distinct tracks or a minimum total playing time of 30 minutes with no minimum track requirement  

Source: https://en.wikipedia.org/wiki/Album

So we can fill missing values depending on the length of a release. But we don't have this feature yet.

In [17]:
# import matplotlib.pyplot as plt
# %matplotlib inline

In [18]:
# x = df[df['album_type'] == 'Single Tracks']['album_tracks']
# plt.hist(x, bins=30)
# plt.xlabel('# of tracks');

In [19]:
# pd.set_option('display.max_colwidth', -1)

In [20]:
# df[df['album_type'] == 'Single Tracks'][df['album_tracks'] > 3]['album_url']

Singles with more than 3 songs seem to iether be albums or collaborative playlists  
Let's check albums too

In [21]:
# x = df[df['album_type'] == 'Album']['album_tracks']
# plt.hist(x, bins=30)
# plt.xlabel('# of tracks');

In [22]:
# pd.reset_option('display.max_colwidth')

# Getting album length

In [23]:
tracks_data = pd.read_csv('fma_metadata/raw_tracks.csv')

In [24]:
tracks_data.head()

,track_id,album_id,album_title,album_url,artist_id,artist_name,artist_url,artist_website,license_image_file,license_image_file_large,...,track_information,track_instrumental,track_interest,track_language_code,track_listens,track_lyricist,track_number,track_publisher,track_title,track_url
0,2,1.0,AWOL - A Way Of Life,http://freemusicarchive.org/music/AWOL/AWOL_-_...,1,AWOL,http://freemusicarchive.org/music/AWOL/,http://www.AzillionRecords.blogspot.com,http://i.creativecommons.org/l/by-nc-sa/3.0/us...,http://fma-files.s3.amazonaws.com/resources/im...,...,NaN,0,4656,en,1293,NaN,3,NaN,Food,http://freemusicarchive.org/music/AWOL/AWOL_-_...
1,3,1.0,AWOL - A Way Of Life,http://freemusicarchive.org/music/AWOL/AWOL_-_...,1,AWOL,http://freemusicarchive.org/music/AWOL/,http://www.AzillionRecords.blogspot.com,http://i.creativecommons.org/l/by-nc-sa/3.0/us...,http://fma-files.s3.amazonaws.com/resources/im...,...,NaN,0,1470,en,514,NaN,4,NaN,Electric Ave,http://freemusicarchive.org/music/AWOL/AWOL_-_...
2,5,1.0,AWOL - A Way Of Life,http://freemusicarchive.org/music/AWOL/AWOL_-_...,1,AWOL,http://freemusicarchive.org/music/AWOL/,http://www.AzillionRecords.blogspot.com,http://i.creativecommons.org/l/by-nc-sa/3.0/us...,http://fma-files.s3.amazonaws.com/resources/im...,...,NaN,0,1933,en,1151,NaN,6,NaN,This World,http://freemusicarchive.org/music/AWOL/AWOL_-_...
3,10,6.0,Constant Hitmaker,http://freemusicarchive.org/music/Kurt_Vile/Co...,6,Kurt Vile,http://freemusicarchive.org/music/Kurt_Vile/,http://kurtvile.com,http://i.creativecommons.org/l/by-nc-nd/3.0/88...,http://fma-files.s3.amazonaws.com/resources/im...,...,NaN,0,54881,en,50135,NaN,1,NaN,Freeway,http://freemusicarchive.org/music/Kurt_Vile/Co...
4,20,4.0,Niris,http://freemusicarchive.org/music/Chris_and_Ni...,4,Nicky Cook,http://freemusicarchive.org/music/Chris_and_Ni...,NaN,http://i.creativecommons.org/l/by-nc-nd/3.0/88...,http://fma-files.s3.amazonaws.com/resources/im...,...,NaN,0,978,en,361,NaN,3,NaN,Spiritual Level,http://freemusicarchive.org/music/Chris_and_Ni...

In [25]:
tracks_data.columns

Index([u'track_id', u'album_id', u'album_title', u'album_url', u'artist_id',
       u'artist_name', u'artist_url', u'artist_website', u'license_image_file',
       u'license_image_file_large', u'license_parent_id', u'license_title',
       u'license_url', u'tags', u'track_bit_rate', u'track_comments',
       u'track_composer', u'track_copyright_c', u'track_copyright_p',
       u'track_date_created', u'track_date_recorded', u'track_disc_number',
       u'track_duration', u'track_explicit', u'track_explicit_notes',
       u'track_favorites', u'track_file', u'track_genres', u'track_image_file',
       u'track_information', u'track_instrumental', u'track_interest',
       u'track_language_code', u'track_listens', u'track_lyricist',
       u'track_number', u'track_publisher', u'track_title', u'track_url'],
      dtype='object')

In [26]:
tracks_with_albums = tracks_data.join(albums_data, on='album_id', rsuffix='_from_album')
tracks_with_albums.shape

(109727, 57)

In [27]:
tracks_with_albums.head()

,track_id,album_id,album_title,album_url,artist_id,artist_name,artist_url,artist_website,license_image_file,license_image_file_large,...,album_information,album_listens,album_producer,album_title_from_album,album_tracks,album_type,album_url_from_album,artist_name_from_album,artist_url_from_album,tags_from_album
0,2,1.0,AWOL - A Way Of Life,http://freemusicarchive.org/music/AWOL/AWOL_-_...,1,AWOL,http://freemusicarchive.org/music/AWOL/,http://www.AzillionRecords.blogspot.com,http://i.creativecommons.org/l/by-nc-sa/3.0/us...,http://fma-files.s3.amazonaws.com/resources/im...,...,<p></p>,6073.0,NaN,AWOL - A Way Of Life,7.0,Album,http://freemusicarchive.org/music/AWOL/AWOL_-_...,AWOL,http://freemusicarchive.org/music/AWOL/,[]
1,3,1.0,AWOL - A Way Of Life,http://freemusicarchive.org/music/AWOL/AWOL_-_...,1,AWOL,http://freemusicarchive.org/music/AWOL/,http://www.AzillionRecords.blogspot.com,http://i.creativecommons.org/l/by-nc-sa/3.0/us...,http://fma-files.s3.amazonaws.com/resources/im...,...,<p></p>,6073.0,NaN,AWOL - A Way Of Life,7.0,Album,http://freemusicarchive.org/music/AWOL/AWOL_-_...,AWOL,http://freemusicarchive.org/music/AWOL/,[]
2,5,1.0,AWOL - A Way Of Life,http://freemusicarchive.org/music/AWOL/AWOL_-_...,1,AWOL,http://freemusicarchive.org/music/AWOL/,http://www.AzillionRecords.blogspot.com,http://i.creativecommons.org/l/by-nc-sa/3.0/us...,http://fma-files.s3.amazonaws.com/resources/im...,...,<p></p>,6073.0,NaN,AWOL - A Way Of Life,7.0,Album,http://freemusicarchive.org/music/AWOL/AWOL_-_...,AWOL,http://freemusicarchive.org/music/AWOL/,[]
3,10,6.0,Constant Hitmaker,http://freemusicarchive.org/music/Kurt_Vile/Co...,6,Kurt Vile,http://freemusicarchive.org/music/Kurt_Vile/,http://kurtvile.com,http://i.creativecommons.org/l/by-nc-nd/3.0/88...,http://fma-files.s3.amazonaws.com/resources/im...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20,4.0,Niris,http://freemusicarchive.org/music/Chris_and_Ni...,4,Nicky Cook,http://freemusicarchive.org/music/Chris_and_Ni...,NaN,http://i.creativecommons.org/l/by-nc-nd/3.0/88...,http://fma-files.s3.amazonaws.com/resources/im...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
tracks_with_albums['track_duration'].isnull().sum()

0

In [29]:
tracks_with_albums.dtypes

track_id                      int64
album_id                    float64
album_title                  object
album_url                    object
artist_id                     int64
artist_name                  object
artist_url                   object
artist_website               object
license_image_file           object
license_image_file_large     object
license_parent_id           float64
license_title                object
license_url                  object
tags                         object
track_bit_rate              float64
track_comments                int64
track_composer               object
track_copyright_c            object
track_copyright_p            object
track_date_created           object
track_date_recorded          object
track_disc_number             int64
track_duration               object
track_explicit               object
track_explicit_notes         object
track_favorites               int64
track_file                   object
track_genres                 object
track_image_file             object
track_information            object
track_instrumental            int64
track_interest                int64
track_language_code          object
track_listens                 int64
track_lyricist               object
track_number                  int64
track_publisher              object
track_title                  object
track_url                    object
album_comments              float64
album_date_created           object
album_date_released          object
album_engineer               object
album_favorites             float64
album_handle                 object
album_image_file             object
album_images                 object
album_information            object
album_listens               float64
album_producer               object
album_title_from_album       object
album_tracks                float64
album_type                   object
album_url_from_album         object
artist_name_from_album       object
artist_url_from_album        object
tags_from_album              object
dtype: object

In [30]:
tracks_with_albums['track_duration'].unique()

array(['02:48', '03:57', '03:26', ..., '22:17', '36:12', '28:28'],
      dtype=object)

In [31]:
tracks_with_albums['track_duration'].head()

0    02:48
1    03:57
2    03:26
3    02:41
4    05:11
Name: track_duration, dtype: object

In [32]:
def time_to_int(time):
    time_format = len(time.split(':'))
    if time_format == 1:
        return(int(time))
    if time_format == 2:
        minutes, seconds = time.split(':')
        return(int(minutes) * 60 + int(seconds))
    if time_format == 3:
        hours, minutes, seconds = time.split(':')
        return(int(hours) * 3600 + int(minutes) * 60 + int(seconds))
    raise time

tracks_with_albums['track_duration'].apply(time_to_int).head()

0    168
1    237
2    206
3    161
4    311
Name: track_duration, dtype: int64

In [33]:
tracks_with_albums['track_duration'] = tracks_with_albums['track_duration'].apply(time_to_int)

In [34]:
album_durations = tracks_with_albums.groupby('album_id').sum()['track_duration']
album_durations.head()

album_id
1.0     1235
4.0     1590
6.0      279
21.0    1168
58.0    1346
Name: track_duration, dtype: int64

In [35]:
df.loc[:,'album_duration'] = album_durations
df.head()

/usr/local/lib/python2.7/site-packages/pandas/core/indexing.py:362: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
/usr/local/lib/python2.7/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

,album_url,artist_url,album_date_released,album_type,album_tracks,album_duration
album_id,,,,,,
1,http://freemusicarchive.org/music/AWOL/AWOL_-_...,http://freemusicarchive.org/music/AWOL/,1/05/2009,Album,7,1235
100,http://freemusicarchive.org/music/Bird_Names/O...,http://freemusicarchive.org/music/Bird_Names/,1/09/2009,Album,4,626
1000,http://freemusicarchive.org/music/DMBQ/DMBQ_Li...,http://freemusicarchive.org/music/DMBQ/,10/26/2008,Live Performance,4,3264
10000,http://freemusicarchive.org/music/Sundrips/Liv...,http://freemusicarchive.org/music/Sundrips/,9/05/2011 04:42:57 PM,Radio Program,1,874
10001,http://freemusicarchive.org/music/Uton/Grounds...,http://freemusicarchive.org/music/Uton/,1/01/2006,Album,1,2746

In [36]:
df['album_duration'].isnull().sum()

0

## Fill missing album_type

In [37]:
def album_type_from_duration(duration):
    if duration >= 900: # 15 minutes = 900 seconds
        return 'Album'
    else:
        return 'Single Tracks'
    
assert(album_type_from_duration(120) == 'Single Tracks')
assert(album_type_from_duration(900) == 'Album')
assert(album_type_from_duration(1100) == 'Album')

In [38]:
album_types_from_duration = df['album_duration'].apply(album_type_from_duration)
album_types_from_duration.value_counts()

Album            724
Single Tracks    276
Name: album_duration, dtype: int64

In [39]:
df.loc[:,'album_type'].fillna(album_types_from_duration, inplace=True)

Let's check the tracks that we have examined earlier

In [40]:
# should be an album
df[df['album_url'] == 'http://freemusicarchive.org/music/junior85/Directed_Numbers/']

,album_url,artist_url,album_date_released,album_type,album_tracks,album_duration
album_id,,,,,,
10196,http://freemusicarchive.org/music/junior85/Dir...,http://freemusicarchive.org/music/junior85/,10/04/2011,Album,7,1246

In [41]:
# should be a single
df[df['album_url'] == 'http://freemusicarchive.org/music/Wrist/Blind_AlleyOrphan_Drug_single_1135/']

,album_url,artist_url,album_date_released,album_type,album_tracks,album_duration
album_id,,,,,,
10380,http://freemusicarchive.org/music/Wrist/Blind_...,http://freemusicarchive.org/music/Wrist/,10/27/2011,Single Tracks,2,726

# Target (days until the next release)

In [42]:
pd.to_datetime(df['album_date_released']).dt.date.head()

album_id
1        2009-01-05
100      2009-01-09
1000     2008-10-26
10000    2011-09-05
10001    2006-01-01
Name: album_date_released, dtype: object

In [43]:
df.loc[:, 'album_date_released'] = pd.to_datetime(df['album_date_released']).dt.date
df.head()

,album_url,artist_url,album_date_released,album_type,album_tracks,album_duration
album_id,,,,,,
1,http://freemusicarchive.org/music/AWOL/AWOL_-_...,http://freemusicarchive.org/music/AWOL/,2009-01-05,Album,7,1235
100,http://freemusicarchive.org/music/Bird_Names/O...,http://freemusicarchive.org/music/Bird_Names/,2009-01-09,Album,4,626
1000,http://freemusicarchive.org/music/DMBQ/DMBQ_Li...,http://freemusicarchive.org/music/DMBQ/,2008-10-26,Live Performance,4,3264
10000,http://freemusicarchive.org/music/Sundrips/Liv...,http://freemusicarchive.org/music/Sundrips/,2011-09-05,Radio Program,1,874
10001,http://freemusicarchive.org/music/Uton/Grounds...,http://freemusicarchive.org/music/Uton/,2006-01-01,Album,1,2746

In [44]:
min(df['album_date_released'])

datetime.date(1979, 1, 1)

In [45]:
max(df['album_date_released'])

datetime.date(2015, 5, 15)

Seems like we have a pretty diverse dataset ranging from 1979 to 2015

In [46]:
df.groupby('artist_url').count().sort_values('album_tracks', ascending=False).head(10)

,album_url,album_date_released,album_type,album_tracks,album_duration
artist_url,,,,,
http://freemusicarchive.org/music/James_Kibbie/,14,14,14,14,14
http://freemusicarchive.org/music/King_Ghidorah/,13,13,13,13,13
http://freemusicarchive.org/music/Assif_Tsahar/,11,11,11,11,11
http://freemusicarchive.org/music/Irene_Moon/,10,10,10,10,10
http://freemusicarchive.org/music/Disco_Missile/,9,9,9,9,9
http://freemusicarchive.org/music/Balogh/,9,9,9,9,9
http://freemusicarchive.org/music/Volcano_the_Bear/,8,8,8,8,8
http://freemusicarchive.org/music/Chris_Zabriskie/,7,7,7,7,7
http://freemusicarchive.org/music/New_Weird_Australia/,7,7,7,7,7
http://freemusicarchive.org/music/Telegraphy/,6,6,6,6,6

In [47]:
df[df['artist_url'] == 'http://freemusicarchive.org/music/Chris_Zabriskie/'].sort_values('album_date_released')

,album_url,artist_url,album_date_released,album_type,album_tracks,album_duration
album_id,,,,,,
10050,http://freemusicarchive.org/music/Chris_Zabris...,http://freemusicarchive.org/music/Chris_Zabris...,2009-03-10,Album,7,2490
10052,http://freemusicarchive.org/music/Chris_Zabris...,http://freemusicarchive.org/music/Chris_Zabris...,2009-09-22,Album,23,1736
10053,http://freemusicarchive.org/music/Chris_Zabris...,http://freemusicarchive.org/music/Chris_Zabris...,2010-08-10,Album,5,2455
10057,http://freemusicarchive.org/music/Chris_Zabris...,http://freemusicarchive.org/music/Chris_Zabris...,2011-01-13,Album,4,2634
10058,http://freemusicarchive.org/music/Chris_Zabris...,http://freemusicarchive.org/music/Chris_Zabris...,2011-07-18,Album,6,1981
10927,http://freemusicarchive.org/music/Chris_Zabris...,http://freemusicarchive.org/music/Chris_Zabris...,2012-01-25,Album,8,2281
10049,http://freemusicarchive.org/music/Chris_Zabris...,http://freemusicarchive.org/music/Chris_Zabris...,2015-05-15,Album,5,2464

In [48]:
df['album_url'].unique().size

1000

In [49]:
album_url = df.loc[10050, :]['album_url']
album_url

'http://freemusicarchive.org/music/Chris_Zabriskie/I_Am_a_Man_Who_Will_Fight_for_Your_Honor/'

In [50]:
album = df[df['album_url'] == album_url]
album

,album_url,artist_url,album_date_released,album_type,album_tracks,album_duration
album_id,,,,,,
10050,http://freemusicarchive.org/music/Chris_Zabris...,http://freemusicarchive.org/music/Chris_Zabris...,2009-03-10,Album,7,2490

In [51]:
artist_url = album.artist_url.values[0]
artist_url

'http://freemusicarchive.org/music/Chris_Zabriskie/'

In [52]:
artist_albums = df[df['artist_url'] == artist_url].sort_values('album_date_released')
artist_albums

,album_url,artist_url,album_date_released,album_type,album_tracks,album_duration
album_id,,,,,,
10050,http://freemusicarchive.org/music/Chris_Zabris...,http://freemusicarchive.org/music/Chris_Zabris...,2009-03-10,Album,7,2490
10052,http://freemusicarchive.org/music/Chris_Zabris...,http://freemusicarchive.org/music/Chris_Zabris...,2009-09-22,Album,23,1736
10053,http://freemusicarchive.org/music/Chris_Zabris...,http://freemusicarchive.org/music/Chris_Zabris...,2010-08-10,Album,5,2455
10057,http://freemusicarchive.org/music/Chris_Zabris...,http://freemusicarchive.org/music/Chris_Zabris...,2011-01-13,Album,4,2634
10058,http://freemusicarchive.org/music/Chris_Zabris...,http://freemusicarchive.org/music/Chris_Zabris...,2011-07-18,Album,6,1981
10927,http://freemusicarchive.org/music/Chris_Zabris...,http://freemusicarchive.org/music/Chris_Zabris...,2012-01-25,Album,8,2281
10049,http://freemusicarchive.org/music/Chris_Zabris...,http://freemusicarchive.org/music/Chris_Zabris...,2015-05-15,Album,5,2464

In [53]:
album_date_released = album.album_date_released.values[0]
album_date_released

datetime.date(2009, 3, 10)

In [54]:
next_album = artist_albums[artist_albums['album_date_released'] > album_date_released].head(1)
next_album

,album_url,artist_url,album_date_released,album_type,album_tracks,album_duration
album_id,,,,,,
10052,http://freemusicarchive.org/music/Chris_Zabris...,http://freemusicarchive.org/music/Chris_Zabris...,2009-09-22,Album,23,1736

In [55]:
next_album_date_released = next_album.album_date_released.values[0]
next_album_date_released

datetime.date(2009, 9, 22)

In [56]:
date_difference = next_album_date_released - album_date_released
date_difference

datetime.timedelta(196)

In [57]:
date_difference.days

196

In [58]:
date_difference.days.__class__

int

In [59]:
def days_until_next_release(album_url):
    album = df[df['album_url'] == album_url]
    artist_url = album.artist_url.values[0]
    artist_albums = df[df['artist_url'] == artist_url].sort_values('album_date_released')

    album_date_released = album.album_date_released.values[0]

    next_album = artist_albums[artist_albums['album_date_released'] > album_date_released].head(1)
    next_album_date_released = next_album.album_date_released.values
    if len(next_album_date_released) == 0:
        return(None)
    else:
        next_album_date_released = next_album_date_released[0]

    date_difference = next_album_date_released - album_date_released
    return(date_difference.days)

In [60]:
days_until_next_release(album_url)

196

In [61]:
# the last album from the artist
album_url = df.loc[10049, :]['album_url']
days_until_next_release(album_url)

In [62]:
df['album_url'].head(10).apply(days_until_next_release)

album_id
1          NaN
100      997.0
1000       NaN
10000      NaN
10001    365.0
10002     53.0
10003      NaN
10007      NaN
10008      NaN
10009     26.0
Name: album_url, dtype: float64

In [63]:
df.loc[:, 'days_until_next_album'] = df['album_url'].apply(days_until_next_release)

In [64]:
df.head()

,album_url,artist_url,album_date_released,album_type,album_tracks,album_duration,days_until_next_album
album_id,,,,,,,
1,http://freemusicarchive.org/music/AWOL/AWOL_-_...,http://freemusicarchive.org/music/AWOL/,2009-01-05,Album,7,1235,NaN
100,http://freemusicarchive.org/music/Bird_Names/O...,http://freemusicarchive.org/music/Bird_Names/,2009-01-09,Album,4,626,997.0
1000,http://freemusicarchive.org/music/DMBQ/DMBQ_Li...,http://freemusicarchive.org/music/DMBQ/,2008-10-26,Live Performance,4,3264,NaN
10000,http://freemusicarchive.org/music/Sundrips/Liv...,http://freemusicarchive.org/music/Sundrips/,2011-09-05,Radio Program,1,874,NaN
10001,http://freemusicarchive.org/music/Uton/Grounds...,http://freemusicarchive.org/music/Uton/,2006-01-01,Album,1,2746,365.0

In [65]:
# final test
df[df['artist_url'] == 'http://freemusicarchive.org/music/Chris_Zabriskie/'].sort_values('album_date_released')

,album_url,artist_url,album_date_released,album_type,album_tracks,album_duration,days_until_next_album
album_id,,,,,,,
10050,http://freemusicarchive.org/music/Chris_Zabris...,http://freemusicarchive.org/music/Chris_Zabris...,2009-03-10,Album,7,2490,196.0
10052,http://freemusicarchive.org/music/Chris_Zabris...,http://freemusicarchive.org/music/Chris_Zabris...,2009-09-22,Album,23,1736,322.0
10053,http://freemusicarchive.org/music/Chris_Zabris...,http://freemusicarchive.org/music/Chris_Zabris...,2010-08-10,Album,5,2455,156.0
10057,http://freemusicarchive.org/music/Chris_Zabris...,http://freemusicarchive.org/music/Chris_Zabris...,2011-01-13,Album,4,2634,186.0
10058,http://freemusicarchive.org/music/Chris_Zabris...,http://freemusicarchive.org/music/Chris_Zabris...,2011-07-18,Album,6,1981,191.0
10927,http://freemusicarchive.org/music/Chris_Zabris...,http://freemusicarchive.org/music/Chris_Zabris...,2012-01-25,Album,8,2281,1206.0
10049,http://freemusicarchive.org/music/Chris_Zabris...,http://freemusicarchive.org/music/Chris_Zabris...,2015-05-15,Album,5,2464,NaN

In [66]:
df.shape

(1000, 7)

In [67]:
# clean up all rows without the next release
# since they don't give us any information we can act on
df = df.dropna(subset=['days_until_next_album'])
df.head()

,album_url,artist_url,album_date_released,album_type,album_tracks,album_duration,days_until_next_album
album_id,,,,,,,
100,http://freemusicarchive.org/music/Bird_Names/O...,http://freemusicarchive.org/music/Bird_Names/,2009-01-09,Album,4,626,997.0
10001,http://freemusicarchive.org/music/Uton/Grounds...,http://freemusicarchive.org/music/Uton/,2006-01-01,Album,1,2746,365.0
10002,http://freemusicarchive.org/music/Prince_Rama_...,http://freemusicarchive.org/music/Prince_Rama_...,2011-09-06,Album,1,381,53.0
10009,http://freemusicarchive.org/music/Audio_K/My_S...,http://freemusicarchive.org/music/Audio_K/,2011-09-07,Album,4,1282,26.0
10018,http://freemusicarchive.org/music/Angels_in_Am...,http://freemusicarchive.org/music/Angels_in_Am...,2011-07-04,Album,7,1905,66.0

In [68]:
df.shape

(240, 7)

# Total albums released

In [69]:
def total_albums_released(album_url):
    album = df[df['album_url'] == album_url]
    artist_url = album.artist_url.values[0]
    artist_albums = df[df['artist_url'] == artist_url].sort_values('album_date_released')

    album_date_released = album.album_date_released.values[0]
    albums_previously_released = artist_albums[artist_albums['album_date_released'] <= album_date_released]
    return(albums_previously_released.shape[0])

In [70]:
# the first album from the artist
album_url = df.loc[10050, :]['album_url']
total_albums_released(album_url)

1

In [71]:
# the last album from the artist in our dataset
album_url = df.loc[10927, :]['album_url']
total_albums_released(album_url)

6

In [72]:
df['album_url'].head(10).apply(total_albums_released)

album_id
100      2
10001    2
10002    1
10009    1
10018    1
10028    1
10034    1
10036    1
10050    1
10052    2
Name: album_url, dtype: int64

In [73]:
df.loc[:, 'total_albums_released'] = df['album_url'].apply(total_albums_released)

In [74]:
df.head()

,album_url,artist_url,album_date_released,album_type,album_tracks,album_duration,days_until_next_album,total_albums_released
album_id,,,,,,,,
100,http://freemusicarchive.org/music/Bird_Names/O...,http://freemusicarchive.org/music/Bird_Names/,2009-01-09,Album,4,626,997.0,2
10001,http://freemusicarchive.org/music/Uton/Grounds...,http://freemusicarchive.org/music/Uton/,2006-01-01,Album,1,2746,365.0,2
10002,http://freemusicarchive.org/music/Prince_Rama_...,http://freemusicarchive.org/music/Prince_Rama_...,2011-09-06,Album,1,381,53.0,1
10009,http://freemusicarchive.org/music/Audio_K/My_S...,http://freemusicarchive.org/music/Audio_K/,2011-09-07,Album,4,1282,26.0,1
10018,http://freemusicarchive.org/music/Angels_in_Am...,http://freemusicarchive.org/music/Angels_in_Am...,2011-07-04,Album,7,1905,66.0,1

# Days in music industry (since first release)

In [75]:
def days_since_first_release(album_url):
    album = df[df['album_url'] == album_url]
    artist_url = album.artist_url.values[0]
    artist_albums = df[df['artist_url'] == artist_url].sort_values('album_date_released')

    album_date_released = album.album_date_released.values[0]

    albums_previously_released = artist_albums[artist_albums['album_date_released'] <= album_date_released]
    first_album = albums_previously_released.head(1)
    first_album_date_released = first_album.album_date_released.values[0]

    date_difference = album_date_released - first_album_date_released
    return(date_difference.days)

In [76]:
# the first album from the artist
album_url = df.loc[10050, :]['album_url']
days_since_first_release(album_url)

0

In [77]:
# the last album from the artist in our dataset
album_url = df.loc[10927, :]['album_url']
days_since_first_release(album_url)

1051

In [78]:
df['album_url'].head(10).apply(days_since_first_release)

album_id
100      739
10001    365
10002      0
10009      0
10018      0
10028      0
10034      0
10036      0
10050      0
10052    196
Name: album_url, dtype: int64

In [79]:
df.loc[:, 'days_since_first_release'] = df['album_url'].apply(days_since_first_release)

In [80]:
df.head()

,album_url,artist_url,album_date_released,album_type,album_tracks,album_duration,days_until_next_album,total_albums_released,days_since_first_release
album_id,,,,,,,,,
100,http://freemusicarchive.org/music/Bird_Names/O...,http://freemusicarchive.org/music/Bird_Names/,2009-01-09,Album,4,626,997.0,2,739
10001,http://freemusicarchive.org/music/Uton/Grounds...,http://freemusicarchive.org/music/Uton/,2006-01-01,Album,1,2746,365.0,2,365
10002,http://freemusicarchive.org/music/Prince_Rama_...,http://freemusicarchive.org/music/Prince_Rama_...,2011-09-06,Album,1,381,53.0,1,0
10009,http://freemusicarchive.org/music/Audio_K/My_S...,http://freemusicarchive.org/music/Audio_K/,2011-09-07,Album,4,1282,26.0,1,0
10018,http://freemusicarchive.org/music/Angels_in_Am...,http://freemusicarchive.org/music/Angels_in_Am...,2011-07-04,Album,7,1905,66.0,1,0

# Average days to release

In [81]:
(df['days_since_first_release'] / df['total_albums_released']).head(10)

album_id
100      369.5
10001    182.5
10002      0.0
10009      0.0
10018      0.0
10028      0.0
10034      0.0
10036      0.0
10050      0.0
10052     98.0
dtype: float64

In [82]:
df.loc[:, 'average_days_to_release'] = df['days_since_first_release'] / (df['total_albums_released'] - 1)

In [83]:
df.head(10)

,album_url,artist_url,album_date_released,album_type,album_tracks,album_duration,days_until_next_album,total_albums_released,days_since_first_release,average_days_to_release
album_id,,,,,,,,,,
100,http://freemusicarchive.org/music/Bird_Names/O...,http://freemusicarchive.org/music/Bird_Names/,2009-01-09,Album,4,626,997.0,2,739,739.0
10001,http://freemusicarchive.org/music/Uton/Grounds...,http://freemusicarchive.org/music/Uton/,2006-01-01,Album,1,2746,365.0,2,365,365.0
10002,http://freemusicarchive.org/music/Prince_Rama_...,http://freemusicarchive.org/music/Prince_Rama_...,2011-09-06,Album,1,381,53.0,1,0,NaN
10009,http://freemusicarchive.org/music/Audio_K/My_S...,http://freemusicarchive.org/music/Audio_K/,2011-09-07,Album,4,1282,26.0,1,0,NaN
10018,http://freemusicarchive.org/music/Angels_in_Am...,http://freemusicarchive.org/music/Angels_in_Am...,2011-07-04,Album,7,1905,66.0,1,0,NaN
10028,http://freemusicarchive.org/music/Uton/Suoniin...,http://freemusicarchive.org/music/Uton/,2005-01-01,Album,1,2792,365.0,1,0,NaN
10034,http://freemusicarchive.org/music/junior85/jun...,http://freemusicarchive.org/music/junior85/,2011-09-13,Album,8,1638,14.0,1,0,NaN
10036,http://freemusicarchive.org/music/201006128494...,http://freemusicarchive.org/music/201006128494...,2011-09-13,Single Tracks,5,663,76.0,1,0,NaN
10050,http://freemusicarchive.org/music/Chris_Zabris...,http://freemusicarchive.org/music/Chris_Zabris...,2009-03-10,Album,7,2490,196.0,1,0,NaN
10052,http://freemusicarchive.org/music/Chris_Zabris...,http://freemusicarchive.org/music/Chris_Zabris...,2009-09-22,Album,23,1736,322.0,2,196,196.0

# Days since previous release

In [84]:
def days_since_prev_release(album_url):
    album = df[df['album_url'] == album_url]
    artist_url = album.artist_url.values[0]
    artist_albums = df[df['artist_url'] == artist_url].sort_values('album_date_released', ascending=False)

    album_date_released = album.album_date_released.values[0]

    prev_album = artist_albums[artist_albums['album_date_released'] < album_date_released].head(1)
    prev_album_date_released = prev_album.album_date_released.values
    if len(prev_album_date_released) == 0:
        return(None)
    else:
        prev_album_date_released = prev_album_date_released[0]

    date_difference = album_date_released - prev_album_date_released
    return(date_difference.days)

In [85]:
# the first album from the artist
album_url = df.loc[10050, :]['album_url']
days_since_prev_release(album_url)

In [86]:
# the last album from the artist in our dataset
album_url = df.loc[10927, :]['album_url']
days_since_prev_release(album_url)

191

In [87]:
df['album_url'].head(10).apply(days_since_prev_release)

album_id
100      739.0
10001    365.0
10002      NaN
10009      NaN
10018      NaN
10028      NaN
10034      NaN
10036      NaN
10050      NaN
10052    196.0
Name: album_url, dtype: float64

In [88]:
df.loc[:, 'days_since_previous_release'] = df['album_url'].apply(days_since_prev_release)

In [89]:
df.head()

,album_url,artist_url,album_date_released,album_type,album_tracks,album_duration,days_until_next_album,total_albums_released,days_since_first_release,average_days_to_release,days_since_previous_release
album_id,,,,,,,,,,,
100,http://freemusicarchive.org/music/Bird_Names/O...,http://freemusicarchive.org/music/Bird_Names/,2009-01-09,Album,4,626,997.0,2,739,739.0,739.0
10001,http://freemusicarchive.org/music/Uton/Grounds...,http://freemusicarchive.org/music/Uton/,2006-01-01,Album,1,2746,365.0,2,365,365.0,365.0
10002,http://freemusicarchive.org/music/Prince_Rama_...,http://freemusicarchive.org/music/Prince_Rama_...,2011-09-06,Album,1,381,53.0,1,0,NaN,NaN
10009,http://freemusicarchive.org/music/Audio_K/My_S...,http://freemusicarchive.org/music/Audio_K/,2011-09-07,Album,4,1282,26.0,1,0,NaN,NaN
10018,http://freemusicarchive.org/music/Angels_in_Am...,http://freemusicarchive.org/music/Angels_in_Am...,2011-07-04,Album,7,1905,66.0,1,0,NaN,NaN

# Features from date

## Year

In [90]:
pd.to_datetime(df.head()['album_date_released']).dt.year

album_id
100      2009
10001    2006
10002    2011
10009    2011
10018    2011
Name: album_date_released, dtype: int64

In [91]:
df.loc[:, 'album_year'] = pd.to_datetime(df['album_date_released']).dt.year

In [92]:
df.head()

,album_url,artist_url,album_date_released,album_type,album_tracks,album_duration,days_until_next_album,total_albums_released,days_since_first_release,average_days_to_release,days_since_previous_release,album_year
album_id,,,,,,,,,,,,
100,http://freemusicarchive.org/music/Bird_Names/O...,http://freemusicarchive.org/music/Bird_Names/,2009-01-09,Album,4,626,997.0,2,739,739.0,739.0,2009
10001,http://freemusicarchive.org/music/Uton/Grounds...,http://freemusicarchive.org/music/Uton/,2006-01-01,Album,1,2746,365.0,2,365,365.0,365.0,2006
10002,http://freemusicarchive.org/music/Prince_Rama_...,http://freemusicarchive.org/music/Prince_Rama_...,2011-09-06,Album,1,381,53.0,1,0,NaN,NaN,2011
10009,http://freemusicarchive.org/music/Audio_K/My_S...,http://freemusicarchive.org/music/Audio_K/,2011-09-07,Album,4,1282,26.0,1,0,NaN,NaN,2011
10018,http://freemusicarchive.org/music/Angels_in_Am...,http://freemusicarchive.org/music/Angels_in_Am...,2011-07-04,Album,7,1905,66.0,1,0,NaN,NaN,2011

## Month

In [93]:
pd.to_datetime(df.head()['album_date_released']).dt.month

album_id
100      1
10001    1
10002    9
10009    9
10018    7
Name: album_date_released, dtype: int64

In [94]:
df.loc[:, 'album_month'] = pd.to_datetime(df['album_date_released']).dt.month

In [95]:
df.head()

,album_url,artist_url,album_date_released,album_type,album_tracks,album_duration,days_until_next_album,total_albums_released,days_since_first_release,average_days_to_release,days_since_previous_release,album_year,album_month
album_id,,,,,,,,,,,,,
100,http://freemusicarchive.org/music/Bird_Names/O...,http://freemusicarchive.org/music/Bird_Names/,2009-01-09,Album,4,626,997.0,2,739,739.0,739.0,2009,1
10001,http://freemusicarchive.org/music/Uton/Grounds...,http://freemusicarchive.org/music/Uton/,2006-01-01,Album,1,2746,365.0,2,365,365.0,365.0,2006,1
10002,http://freemusicarchive.org/music/Prince_Rama_...,http://freemusicarchive.org/music/Prince_Rama_...,2011-09-06,Album,1,381,53.0,1,0,NaN,NaN,2011,9
10009,http://freemusicarchive.org/music/Audio_K/My_S...,http://freemusicarchive.org/music/Audio_K/,2011-09-07,Album,4,1282,26.0,1,0,NaN,NaN,2011,9
10018,http://freemusicarchive.org/music/Angels_in_Am...,http://freemusicarchive.org/music/Angels_in_Am...,2011-07-04,Album,7,1905,66.0,1,0,NaN,NaN,2011,7

## Day of month

In [96]:
pd.to_datetime(df.head()['album_date_released']).dt.day

album_id
100      9
10001    1
10002    6
10009    7
10018    4
Name: album_date_released, dtype: int64

In [97]:
df.loc[:, 'album_day_of_month'] = pd.to_datetime(df['album_date_released']).dt.day

In [98]:
df.head()

,album_url,artist_url,album_date_released,album_type,album_tracks,album_duration,days_until_next_album,total_albums_released,days_since_first_release,average_days_to_release,days_since_previous_release,album_year,album_month,album_day_of_month
album_id,,,,,,,,,,,,,,
100,http://freemusicarchive.org/music/Bird_Names/O...,http://freemusicarchive.org/music/Bird_Names/,2009-01-09,Album,4,626,997.0,2,739,739.0,739.0,2009,1,9
10001,http://freemusicarchive.org/music/Uton/Grounds...,http://freemusicarchive.org/music/Uton/,2006-01-01,Album,1,2746,365.0,2,365,365.0,365.0,2006,1,1
10002,http://freemusicarchive.org/music/Prince_Rama_...,http://freemusicarchive.org/music/Prince_Rama_...,2011-09-06,Album,1,381,53.0,1,0,NaN,NaN,2011,9,6
10009,http://freemusicarchive.org/music/Audio_K/My_S...,http://freemusicarchive.org/music/Audio_K/,2011-09-07,Album,4,1282,26.0,1,0,NaN,NaN,2011,9,7
10018,http://freemusicarchive.org/music/Angels_in_Am...,http://freemusicarchive.org/music/Angels_in_Am...,2011-07-04,Album,7,1905,66.0,1,0,NaN,NaN,2011,7,4

## Day of week

In [99]:
pd.to_datetime(df.head()['album_date_released']).dt.dayofweek

album_id
100      4
10001    6
10002    1
10009    2
10018    0
Name: album_date_released, dtype: int64

In [100]:
df.loc[:, 'album_day_of_week'] = pd.to_datetime(df['album_date_released']).dt.dayofweek

In [101]:
df.head()

,album_url,artist_url,album_date_released,album_type,album_tracks,album_duration,days_until_next_album,total_albums_released,days_since_first_release,average_days_to_release,days_since_previous_release,album_year,album_month,album_day_of_month,album_day_of_week
album_id,,,,,,,,,,,,,,,
100,http://freemusicarchive.org/music/Bird_Names/O...,http://freemusicarchive.org/music/Bird_Names/,2009-01-09,Album,4,626,997.0,2,739,739.0,739.0,2009,1,9,4
10001,http://freemusicarchive.org/music/Uton/Grounds...,http://freemusicarchive.org/music/Uton/,2006-01-01,Album,1,2746,365.0,2,365,365.0,365.0,2006,1,1,6
10002,http://freemusicarchive.org/music/Prince_Rama_...,http://freemusicarchive.org/music/Prince_Rama_...,2011-09-06,Album,1,381,53.0,1,0,NaN,NaN,2011,9,6,1
10009,http://freemusicarchive.org/music/Audio_K/My_S...,http://freemusicarchive.org/music/Audio_K/,2011-09-07,Album,4,1282,26.0,1,0,NaN,NaN,2011,9,7,2
10018,http://freemusicarchive.org/music/Angels_in_Am...,http://freemusicarchive.org/music/Angels_in_Am...,2011-07-04,Album,7,1905,66.0,1,0,NaN,NaN,2011,7,4,0

# Fill missing `average_days_to_release`

In [102]:
average_days_to_release_median = df['average_days_to_release'].median()
average_days_to_release_median

160.41666666666669

In [103]:
df.loc[:,'average_days_to_release'].fillna(average_days_to_release_median, inplace=True)

In [104]:
df['average_days_to_release'].head()

album_id
100      739.000000
10001    365.000000
10002    160.416667
10009    160.416667
10018    160.416667
Name: average_days_to_release, dtype: float64

# Fill missing `days_since_previous_release`

In [105]:
days_since_previous_release_median = df['days_since_previous_release'].median()
days_since_previous_release_median

137.5

In [106]:
df.loc[:,'days_since_previous_release'].fillna(days_since_previous_release_median, inplace=True)

In [107]:
df['days_since_previous_release'].head()

album_id
100      739.0
10001    365.0
10002    137.5
10009    137.5
10018    137.5
Name: days_since_previous_release, dtype: float64

# Genres

In [108]:
tracks_with_albums['track_genres'].head()

0    [{'genre_id': '21', 'genre_title': 'Hip-Hop', ...
1    [{'genre_id': '21', 'genre_title': 'Hip-Hop', ...
2    [{'genre_id': '21', 'genre_title': 'Hip-Hop', ...
3    [{'genre_id': '10', 'genre_title': 'Pop', 'gen...
4    [{'genre_id': '76', 'genre_title': 'Experiment...
Name: track_genres, dtype: object

## Fill NaN

In [109]:
tracks_with_albums['track_genres'].isnull().sum()

2609

In [110]:
tracks_with_albums['track_genres'].fillna('[]', inplace=True)
tracks_with_albums['track_genres'].isnull().sum()

0

## Parse JSON

In [111]:
genre = tracks_with_albums['track_genres'].head()[0]
genre

"[{'genre_id': '21', 'genre_title': 'Hip-Hop', 'genre_url': 'http://freemusicarchive.org/genre/Hip-Hop/'}]"

In [112]:
genre = genre.replace("'", '"')

In [113]:
import json

In [114]:
genre_json = json.loads(genre)
genre_json

[{u'genre_id': u'21',
  u'genre_title': u'Hip-Hop',
  u'genre_url': u'http://freemusicarchive.org/genre/Hip-Hop/'}]

In [115]:
genre_json[0]['genre_title']

u'Hip-Hop'

In [116]:
def replace_quotes(string):
    return(string.replace("'", '"'))

In [117]:
tracks_with_albums['track_genres'].head().apply(replace_quotes)

0    [{"genre_id": "21", "genre_title": "Hip-Hop", ...
1    [{"genre_id": "21", "genre_title": "Hip-Hop", ...
2    [{"genre_id": "21", "genre_title": "Hip-Hop", ...
3    [{"genre_id": "10", "genre_title": "Pop", "gen...
4    [{"genre_id": "76", "genre_title": "Experiment...
Name: track_genres, dtype: object

In [118]:
tracks_with_albums['track_genres'].head().apply(replace_quotes).apply(json.loads)

0    [{u'genre_title': u'Hip-Hop', u'genre_url': u'...
1    [{u'genre_title': u'Hip-Hop', u'genre_url': u'...
2    [{u'genre_title': u'Hip-Hop', u'genre_url': u'...
3    [{u'genre_title': u'Pop', u'genre_url': u'http...
4    [{u'genre_title': u'Experimental Pop', u'genre...
Name: track_genres, dtype: object

In [119]:
def genre_names(genres_json):
    return([genre['genre_title'] for genre in genres_json])
genre_names(genre_json)

[u'Hip-Hop']

In [120]:
tracks_with_albums['track_genres'].head().apply(replace_quotes).apply(json.loads).apply(genre_names)

0                                [Hip-Hop]
1                                [Hip-Hop]
2                                [Hip-Hop]
3                                    [Pop]
4    [Experimental Pop, Singer-Songwriter]
Name: track_genres, dtype: object

In [121]:
track_genres = tracks_with_albums['track_genres'].apply(replace_quotes).apply(json.loads).apply(genre_names)
track_genres.head(10)

0                                [Hip-Hop]
1                                [Hip-Hop]
2                                [Hip-Hop]
3                                    [Pop]
4    [Experimental Pop, Singer-Songwriter]
5    [Experimental Pop, Singer-Songwriter]
6    [Experimental Pop, Singer-Songwriter]
7    [Experimental Pop, Singer-Songwriter]
8    [Experimental Pop, Singer-Songwriter]
9                                [Hip-Hop]
Name: track_genres, dtype: object

In [122]:
flatten = lambda l: [item for sublist in l for item in sublist]
len(set(flatten(list(track_genres))))

162

That's too much genres. We need to decrease the number of genres. We can use genre parents to decrease the size.

## Genre highest parent

In [123]:
genres = pd.read_csv('fma_metadata/raw_genres.csv')
genres.head()

   genre_id genre_color   genre_handle  genre_parent_id    genre_title
0         1     #006666    Avant-Garde             38.0    Avant-Garde
1         2     #CC3300  International              NaN  International
2         3     #000099          Blues              NaN          Blues
3         4     #990099           Jazz              NaN           Jazz
4         5     #8A8A65      Classical              NaN      Classical

In [124]:
genre_id = 1

In [125]:
genre = genres[genres['genre_id'] == genre_id].iloc[0]
genre

genre_id                     1
genre_color            #006666
genre_handle       Avant-Garde
genre_parent_id             38
genre_title        Avant-Garde
Name: 0, dtype: object

In [126]:
genre.genre_parent_id

38.0

In [127]:
genre.genre_id

1

In [128]:
parent_genre = genres[genres['genre_id'] == genre.genre_parent_id].iloc[0]
parent_genre

genre_id                     38
genre_color             #dddd00
genre_handle       Experimental
genre_parent_id             NaN
genre_title        Experimental
Name: 31, dtype: object

In [129]:
parent_genre.genre_parent_id

nan

In [130]:
import math
math.isnan(parent_genre.genre_parent_id)

def genre_parent_name(genre_id):
    genre = genres[genres['genre_id'] == genre_id].iloc[0]

    no_parent = math.isnan(genre.genre_parent_id)
    if no_parent:
        return(genre.genre_handle)
    
    is_a_parent_of_self = int(genre.genre_id) == int(genre.genre_parent_id)
    if is_a_parent_of_self:
        return(genre.genre_handle)
    
    try:
        parent_genre = genres[genres['genre_id'] == genre.genre_parent_id].iloc[0]
        return(genre_parent_name(parent_genre.genre_id))
    except:
        print("Genre parent is not present: ")
        print(genre)
        print("\n")

genre_parent_name(genre_id)

'Experimental'

In [131]:
genres['genre_id'].apply(genre_parent_name).head()

Genre parent is not present:
genre_id                       13
genre_color               #5B747C
genre_handle       Easy_Listening
genre_parent_id               126
genre_title        Easy Listening
Name: 12, dtype: object


Genre parent is not present:
genre_id                       13
genre_color               #5B747C
genre_handle       Easy_Listening
genre_parent_id               126
genre_title        Easy Listening
Name: 12, dtype: object


Genre parent is not present:
genre_id                       13
genre_color               #5B747C
genre_handle       Easy_Listening
genre_parent_id               126
genre_title        Easy Listening
Name: 12, dtype: object


Genre parent is not present:
genre_id                        580
genre_color                 #CC0000
genre_handle       Abstract_Hip-Hop
genre_parent_id                1172
genre_title        Abstract Hip-Hop
Name: 145, dtype: object


Genre parent is not present:
genre_id               810
genre_color        #5B747C
genre_handle       Nu-Jazz
genre_parent_id         51
genre_title        Nu-Jazz
Name: 156, dtype: object

0     Experimental
1    International
2            Blues
3             Jazz
4        Classical
Name: genre_id, dtype: object

In [132]:
# Easy listening to be a parent of itself
genres.loc[12, 'genre_parent_id'] = 13
genres.loc[12]

genre_id                       13
genre_color               #5B747C
genre_handle       Easy_Listening
genre_parent_id                13
genre_title        Easy Listening
Name: 12, dtype: object

In [133]:
# Hip-Hop to be a parent of Abstract Hip-Hop
genres.loc[145, 'genre_parent_id'] = 21
genres.loc[145]

genre_id                        580
genre_color                 #CC0000
genre_handle       Abstract_Hip-Hop
genre_parent_id                  21
genre_title        Abstract Hip-Hop
Name: 145, dtype: object

In [134]:
# Jazz to be a parent of Nu-Jazz
genres.loc[156, 'genre_parent_id'] = 4
genres.loc[156]

genre_id               810
genre_color        #5B747C
genre_handle       Nu-Jazz
genre_parent_id          4
genre_title        Nu-Jazz
Name: 156, dtype: object

In [135]:
genres['genre_id'].head().apply(genre_parent_name)

0     Experimental
1    International
2            Blues
3             Jazz
4        Classical
Name: genre_id, dtype: object

In [136]:
genres.loc[:, 'genre_parent_name'] = genres['genre_id'].apply(genre_parent_name)
genres.head()

,genre_id,genre_color,genre_handle,genre_parent_id,genre_title,genre_parent_name
0,1,#006666,Avant-Garde,38.0,Avant-Garde,Experimental
1,2,#CC3300,International,NaN,International,International
2,3,#000099,Blues,NaN,Blues,Blues
3,4,#990099,Jazz,NaN,Jazz,Jazz
4,5,#8A8A65,Classical,NaN,Classical,Classical

In [137]:
# tracks_with_albums['track_genres'].head().apply(replace_quotes).apply(json.loads)
def genre_ids(genres_json):
    return([int(genre['genre_id']) for genre in genres_json])
genre_ids(genre_json)

[21]

In [138]:
def genre_parent_names(genre_ids):
    given_genres = [genres[genres['genre_id'] == genre_id].iloc[0] for genre_id in genre_ids]
    return([genre['genre_parent_name'] for genre in given_genres])
#     return([genre_parent_name(genre_id) for genre_id in genre_ids])
genre_parent_names(genre_ids(genre_json))

['Hip-Hop']

In [139]:
grenre_jsons = tracks_with_albums['track_genres'].apply(replace_quotes).apply(json.loads)
grenre_jsons.head()

0    [{u'genre_title': u'Hip-Hop', u'genre_url': u'...
1    [{u'genre_title': u'Hip-Hop', u'genre_url': u'...
2    [{u'genre_title': u'Hip-Hop', u'genre_url': u'...
3    [{u'genre_title': u'Pop', u'genre_url': u'http...
4    [{u'genre_title': u'Experimental Pop', u'genre...
Name: track_genres, dtype: object

In [140]:
genre_ids = grenre_jsons.apply(genre_ids)
genre_ids.head()

0         [21]
1         [21]
2         [21]
3         [10]
4    [76, 103]
Name: track_genres, dtype: object

In [141]:
genre_ids.head().apply(genre_parent_names)

0      [Hip-Hop]
1      [Hip-Hop]
2      [Hip-Hop]
3          [Pop]
4    [Pop, Folk]
Name: track_genres, dtype: object

In [142]:
genre_ids.shape

(109727,)

In [143]:
genre_parent_names = genre_ids.apply(genre_parent_names)
genre_parent_names.head()

0      [Hip-Hop]
1      [Hip-Hop]
2      [Hip-Hop]
3          [Pop]
4    [Pop, Folk]
Name: track_genres, dtype: object

In [144]:
len(set(flatten(list(genre_parent_names))))

17

In [145]:
set(flatten(list(genre_parent_names)))

{'Blues',
 'Classical',
 'Country',
 'Easy_Listening',
 'Electronic',
 'Experimental',
 'Folk',
 'Hip-Hop',
 'Instrumental',
 'International',
 'Jazz',
 'Old-Time__Historic',
 'Pop',
 'Rock',
 'Soul-RB',
 'Spoken',
 'holiday'}

In [146]:
tracks_with_albums.loc[:, 'genre_parent_names'] = genre_parent_names
tracks_with_albums.head()

,track_id,album_id,album_title,album_url,artist_id,artist_name,artist_url,artist_website,license_image_file,license_image_file_large,...,album_listens,album_producer,album_title_from_album,album_tracks,album_type,album_url_from_album,artist_name_from_album,artist_url_from_album,tags_from_album,genre_parent_names
0,2,1.0,AWOL - A Way Of Life,http://freemusicarchive.org/music/AWOL/AWOL_-_...,1,AWOL,http://freemusicarchive.org/music/AWOL/,http://www.AzillionRecords.blogspot.com,http://i.creativecommons.org/l/by-nc-sa/3.0/us...,http://fma-files.s3.amazonaws.com/resources/im...,...,6073.0,NaN,AWOL - A Way Of Life,7.0,Album,http://freemusicarchive.org/music/AWOL/AWOL_-_...,AWOL,http://freemusicarchive.org/music/AWOL/,[],[Hip-Hop]
1,3,1.0,AWOL - A Way Of Life,http://freemusicarchive.org/music/AWOL/AWOL_-_...,1,AWOL,http://freemusicarchive.org/music/AWOL/,http://www.AzillionRecords.blogspot.com,http://i.creativecommons.org/l/by-nc-sa/3.0/us...,http://fma-files.s3.amazonaws.com/resources/im...,...,6073.0,NaN,AWOL - A Way Of Life,7.0,Album,http://freemusicarchive.org/music/AWOL/AWOL_-_...,AWOL,http://freemusicarchive.org/music/AWOL/,[],[Hip-Hop]
2,5,1.0,AWOL - A Way Of Life,http://freemusicarchive.org/music/AWOL/AWOL_-_...,1,AWOL,http://freemusicarchive.org/music/AWOL/,http://www.AzillionRecords.blogspot.com,http://i.creativecommons.org/l/by-nc-sa/3.0/us...,http://fma-files.s3.amazonaws.com/resources/im...,...,6073.0,NaN,AWOL - A Way Of Life,7.0,Album,http://freemusicarchive.org/music/AWOL/AWOL_-_...,AWOL,http://freemusicarchive.org/music/AWOL/,[],[Hip-Hop]
3,10,6.0,Constant Hitmaker,http://freemusicarchive.org/music/Kurt_Vile/Co...,6,Kurt Vile,http://freemusicarchive.org/music/Kurt_Vile/,http://kurtvile.com,http://i.creativecommons.org/l/by-nc-nd/3.0/88...,http://fma-files.s3.amazonaws.com/resources/im...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[Pop]
4,20,4.0,Niris,http://freemusicarchive.org/music/Chris_and_Ni...,4,Nicky Cook,http://freemusicarchive.org/music/Chris_and_Ni...,NaN,http://i.creativecommons.org/l/by-nc-nd/3.0/88...,http://fma-files.s3.amazonaws.com/resources/im...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[Pop, Folk]"

In [147]:
import numpy as np
tracks_with_albums[['album_id', 'genre_parent_names']].groupby('album_id').agg(np.unique).head()

                                         genre_parent_names
album_id
1.0                                               [Hip-Hop]
4.0                                    [[Pop], [Pop, Folk]]
6.0                                   [[Electronic], [Pop]]
21.0      [[Electronic, Instrumental], [Electronic, Inst...
58.0                                           [Rock, Rock]

In [148]:
album_genres = tracks_with_albums[['album_id', 'genre_parent_names']].groupby('album_id').agg(np.unique)
album_genres.head()

                                         genre_parent_names
album_id
1.0                                               [Hip-Hop]
4.0                                    [[Pop], [Pop, Folk]]
6.0                                   [[Electronic], [Pop]]
21.0      [[Electronic, Instrumental], [Electronic, Inst...
58.0                                           [Rock, Rock]

In [149]:
album_genres.loc[:, 'genre_parent_names'] = album_genres['genre_parent_names'].apply(lambda x: flatten(x) if len(x) > 1 and type(x[0]) == list else x)
album_genres.head()

                                         genre_parent_names
album_id
1.0                                               [Hip-Hop]
4.0                                        [Pop, Pop, Folk]
6.0                                       [Electronic, Pop]
21.0      [Electronic, Instrumental, Electronic, Instrum...
58.0                                           [Rock, Rock]

In [150]:
album_genres.loc[:, 'genre_parent_names'] = album_genres['genre_parent_names'].apply(np.unique)
album_genres.head()

                  genre_parent_names
album_id
1.0                        [Hip-Hop]
4.0                      [Folk, Pop]
6.0                [Electronic, Pop]
21.0      [Electronic, Instrumental]
58.0                          [Rock]

In [151]:
# album_genres = album_genres.set_index(album_genres.index.map(int))
# album_genres.head()

In [152]:
df['album_genres'] = album_genres
df.head()

,album_url,artist_url,album_date_released,album_type,album_tracks,album_duration,days_until_next_album,total_albums_released,days_since_first_release,average_days_to_release,days_since_previous_release,album_year,album_month,album_day_of_month,album_day_of_week,album_genres
album_id,,,,,,,,,,,,,,,,
100,http://freemusicarchive.org/music/Bird_Names/O...,http://freemusicarchive.org/music/Bird_Names/,2009-01-09,Album,4,626,997.0,2,739,739.000000,739.0,2009,1,9,4,[Rock]
10001,http://freemusicarchive.org/music/Uton/Grounds...,http://freemusicarchive.org/music/Uton/,2006-01-01,Album,1,2746,365.0,2,365,365.000000,365.0,2006,1,1,6,[Experimental]
10002,http://freemusicarchive.org/music/Prince_Rama_...,http://freemusicarchive.org/music/Prince_Rama_...,2011-09-06,Album,1,381,53.0,1,0,160.416667,137.5,2011,9,6,1,"[Experimental, Pop]"
10009,http://freemusicarchive.org/music/Audio_K/My_S...,http://freemusicarchive.org/music/Audio_K/,2011-09-07,Album,4,1282,26.0,1,0,160.416667,137.5,2011,9,7,2,"[Electronic, Experimental]"
10018,http://freemusicarchive.org/music/Angels_in_Am...,http://freemusicarchive.org/music/Angels_in_Am...,2011-07-04,Album,7,1905,66.0,1,0,160.416667,137.5,2011,7,4,0,"[Experimental, Rock]"

In [153]:
# tracks_with_albums[['album_id', 'album_id_from_album']].head()
# tracks_with_albums.columns

In [154]:
# df.isnull().sum()

In [161]:
# for genre in df.iloc[0]['album_genres']:
#     print(genre)
all_genres = set(flatten(list(genre_parent_names)))
all_genres

{'Blues',
 'Classical',
 'Country',
 'Easy_Listening',
 'Electronic',
 'Experimental',
 'Folk',
 'Hip-Hop',
 'Instrumental',
 'International',
 'Jazz',
 'Old-Time__Historic',
 'Pop',
 'Rock',
 'Soul-RB',
 'Spoken',
 'holiday'}

In [162]:
for genre in all_genres:
    df[genre] = 0

In [163]:
df.head()

,album_url,artist_url,album_date_released,album_type,album_tracks,album_duration,days_until_next_album,total_albums_released,days_since_first_release,average_days_to_release,...,Spoken,Easy_Listening,Experimental,Rock,International,Blues,holiday,Electronic,Folk,Soul-RB
album_id,,,,,,,,,,,,,,,,,,,,,
100,http://freemusicarchive.org/music/Bird_Names/O...,http://freemusicarchive.org/music/Bird_Names/,2009-01-09,Album,4,626,997.0,2,739,739.000000,...,0,0,0,0,0,0,0,0,0,0
10001,http://freemusicarchive.org/music/Uton/Grounds...,http://freemusicarchive.org/music/Uton/,2006-01-01,Album,1,2746,365.0,2,365,365.000000,...,0,0,0,0,0,0,0,0,0,0
10002,http://freemusicarchive.org/music/Prince_Rama_...,http://freemusicarchive.org/music/Prince_Rama_...,2011-09-06,Album,1,381,53.0,1,0,160.416667,...,0,0,0,0,0,0,0,0,0,0
10009,http://freemusicarchive.org/music/Audio_K/My_S...,http://freemusicarchive.org/music/Audio_K/,2011-09-07,Album,4,1282,26.0,1,0,160.416667,...,0,0,0,0,0,0,0,0,0,0
10018,http://freemusicarchive.org/music/Angels_in_Am...,http://freemusicarchive.org/music/Angels_in_Am...,2011-07-04,Album,7,1905,66.0,1,0,160.416667,...,0,0,0,0,0,0,0,0,0,0